{%- assign record = include.record | default: page -%}
{%- assign record_layout = include.layout | default: record.layout -%}
{%- assign relationships_items = '' | split: '' -%}
{%- assign ids = '' | split: '' -%}

{%- if record_layout == 'update' and record.story_number -%}
  {%- assign ids = ids | push: record.story_number -%}
{%- endif -%}

{%- if record_layout == 'figure' and record.related_stories -%}
  {%- for ref in record.related_stories -%}
    {%- assign parts = ref | split: "." -%}
    {%- assign ids = ids | push: parts[1] -%}
  {%- endfor -%}
{%- elsif record.related_stories -%}
  {%- assign ids = ids | concat: record.related_stories -%}
{%- endif -%}

{%- assign ids = ids | uniq -%}

{%- for story_id in ids -%}
  {%- assign story_number = story_id | plus: 0 -%}
  {%- assign story_hit = site.stories | where: "story_number", story_number | first -%}
  {%- if story_hit -%}
    {%- assign relationships_items = relationships_items | push: story_hit -%}
  {%- endif -%}
{%- endfor -%}

