{%- assign record = include.record | default: page -%}
{%- assign record_layout = include.layout | default: record.layout -%}
{%- assign relationships_items = '' | split: '' -%}
{%- assign ids = '' | split: '' -%}

{%- if record_layout == 'update' and record.notation -%}
  {%- assign ids = ids | push: record.notation -%}
{%- endif -%}
{%- if record.related_updates -%}
  {%- assign ids = ids | concat: record.related_updates -%}
{%- endif -%}
{%- assign ids = ids | uniq -%}

{%- for notation in ids -%}
  {%- assign update_hit = site.updates | where: "notation", notation | first -%}
  {%- if update_hit -%}
    {%- assign relationships_items = relationships_items | push: update_hit -%}
  {%- endif -%}
{%- endfor -%}

